<!--Pagina registrazione passeggero-->
<p>Registrati come passeggero</p>
<form>
    <label>Email</label><input type="email" name="email" [(ngModel)]="passeggero.email" >
    <br><label>Nome</label><input type="email" name="name" [(ngModel)]="passeggero.name" >
    <br><label>Cognome</label><input type="email" name="surname" [(ngModel)]="passeggero.surname" >
    <br><label style="font-size: x-small; font-style: italic; color: gray;">La password deve avere almeno 8 caratteri</label>
    <br><label>Password</label><input type="password" name="password" [(ngModel)]="passeggero.password" ><br>
    <br><input type="submit" (click)="addPasseggero()" placeholder="Aggiungi taxi">
</form>
