<p>richiesta-prenotazione works!</p>
<form>
    <label>Da dove vuoi partire?</label><input type="email" placeholder="Email" [(ngModel)]="prenotazione.partenza" [ngModelOptions]="{standalone: true}"><br>
    <label>Dove vuoi andare?</label><input type="password" placeholder="Password" [(ngModel)]="prenotazione.destinazione" [ngModelOptions]="{standalone: true}"><br>
    <button (click)="genRiepilogo()">Riepilogo</button>
    <div *ngIf="riepilogo">
        <label>Tassista: </label><br>
        <label>Partenza: {{prenotazione.partenza}}</label><br>
        <label>Destinazione: {{prenotazione.destinazione}}</label><br>
        <label>Distanza totale: {{prenotazione.km}}</label><br>
        <label>Costo al km: {{prenotazione.costoXkm}}</label><br>
        <label>Prezzo tratta totale: {{prenotazione.costoTratta}}</label><br>
    </div>
    <button type="submit">Invia prenotazione</button><br>
    <a routerLink="/registrati">Non hai un account? Registrati ora</a>
</form>
