<p>richiesta-prenotazione works!</p>
<form (ngSubmit)="addPrenotazione()">
    <label>Da dove vuoi partire?</label><input type="text" placeholder="Partenza" [(ngModel)]="prenotazione.partenza" [ngModelOptions]="{standalone: true}"><br>
    <label>Dove vuoi andare?</label><input type="text" placeholder="Destinazione" [(ngModel)]="prenotazione.destinazione" [ngModelOptions]="{standalone: true}"><br>
    
    <div *ngIf="riepilogo">
        <label>Tassista: {{tassista.name}}</label><br>
        <label>Partenza: {{prenotazione.partenza}}</label><br>
        <label>Destinazione: {{prenotazione.destinazione}}</label><br>
        <label>Distanza totale: {{prenotazione.km}} km</label><br>
        <label>Costo al km: {{prenotazione.costoXkm}} €</label><br>
        <label>Prezzo tratta totale: {{prenotazione.costoTratta}} €</label><br>
        <button type="submit" *ngIf="inviaButton">Invia prenotazione</button><br>
    </div>
    
    

    
</form>
<button (click)="genRiepilogo()">Riepilogo</button>